<!DOCTYPE html>
<html>
  <head>
    <title>Pathways</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Font Awesome -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
    -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see a blank space instead of the map, this
      // is probably because you have denied permission for location sharing.

      var map;

      function initialize() {
        var mapOptions = {
          zoom: 15
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'You Are Here.'
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>

    <!-- NAVBAR START-->
    <div id="navbar">
      <h1>Where are you off too?</h1>
      <div id="triangle"></div>
    </div>
    <!-- NAVBAR END -->

    <!-- SLIDING FORM START-->
    <div id="slidingform">
      <div id="triangle"></div>
    </div>
    <!-- SLIDING FORM END-->

    <!-- GOOGLE MAP START -->
    <div id="map-canvas"></div>
    <!-- GOOGLE MAP END -->

  </body>
  <script>
    $(document).ready(function(){
      $("#triangle").click(function(){
        $("#slidingform").slideToggle();
        $('#navbar').hide();
      });
      $("#slidingform #triangle").click(function(){
        setTimeout(function() {
          $('#navbar').show();
        }, 800);
        $("#slidingform").slideToggle();
      });
    });
  </script>
</html>