<!DOCTYPE html>
<html>
  <head>
    <title>Pathways</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/assets/jquery-1.8.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <script src="/assets/googlemaps.js"></script>
    <script src="/js/script.js"></script>

    <!-- Font Awesome -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.js">

    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
    -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.
      
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };
      
      function initialize() {
        // Create the autocomplete object, restricting the search
        // to geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {HTMLInputElement} */(document.getElementById('autocomplete', 'autocomplete2')),
            { types: ['geocode'] });
        // When the user selects an address from the dropdown,
        // populate the address fields in the form.
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          fillInAddress();
        });
      }
      
      // [START region_fillform]
      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
      
        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }
      
        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }
      // [END region_fillform]
      
      // [START region_geolocation]
      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = new google.maps.LatLng(
                position.coords.latitude, position.coords.longitude);
            autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
                geolocation));
          });
        }
      }
      // [END region_geolocation]

    </script>

  </head>
  <body onload="initialize()">

    <!-- NAVBAR START-->
    <div id="menu">
      <form class="destinations">
        <div class="startingPoint">
          <h1>
            I'm starting @ 
            <input type="text" value="264 Polk Street, San Francisco, CA 94109" id="autocomplete">
          </h1>
        </div>
        <div class="destination0">
          <h1>
            Then, I'm going to
            <input type="text" value="Golden Gate Bridge">
            <div class="actions" style="display: inline">
              <a class="add btn btn-primary"><i class="fa fa-plus-circle"></i></a>
            </div>
          </h1>
        </div>
      </form>
    </div>
    <div id="question">
      <div id="toggledrawer"> 
        <h1 id="message1">Where are you off too?</h1>
        <h1 id="message2" style="display: none;">Find a pathway!</h1>
      </div>
    </div>
    <center>
      <div id="triangle"></div>
    </center>
    <!-- NAVBAR END -->

    <!-- GOOGLE MAP START -->
    <div id="map-canvas"></div>
    <!-- GOOGLE MAP END -->

  </body>
</html>