html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #FFF;
}
#map-canvas {
  height: 100%;
  width: auto;
  margin: 0px;
}
#menu {
  background: rgba(0, 0, 0, .8);
  height: 60%;
  width: 100%;
  display: none;  
  overflow: auto;
  position: relative;
  z-index: 500;
}
#question {
  background: rgba(0, 0, 0, .8);
  width: 100%;  
  position: relative;
  z-index: 500;
}
#triangle {
  width: 0;
  height: 0;
  border-right: 110px solid transparent;
  border-left: 110px solid transparent;
  border-top: 50px solid rgba(0, 0, 0, .8); 
  position: relative;
  z-index: 500;
}
#map-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
h1 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
  color: #BBB !important;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
input[type='text'] {
  border: 0px;
  background-color: rgba(0, 0, 0, .01);
  margin: 19px;
  color: #FFF;
  border-bottom: 1px dashed #FFF;
  padding: 7px;
  font-size: 25px;
}